
.circle-icon {
    padding: 15px;    
    border-radius: 50%; /* Hace que el div sea circular */
    background-color: #3b82f6; /* Color de fondo, puedes cambiarlo */
    color: white; /* Color del ícono */
  }

  label{
    font-size: 14px;
  }


  ::ng-deep .p-password{    
    width: 100%;
  }

  ::ng-deep .p-password-input{    
    width: 100%;
  }